// Colori -----------------------
$coloreTesto: #ffffff;
$coloreSfondoPagine: #072227;
$coloreSfondoMenu:#4fbdba;
$coloreHover: #3a928f;
$color-visited: #aefeff;
$color-hover2: white;
$color-active: #35858b;
$color-bg: #072227;
$coloreTestoBianco: white;

//Font --------------------------
$fontFamilyGlobale: arial; 
$fontDimensioneTesto: 15px; 
$fontDimensioneCommenti: 8px;
$fontDimensioneTitolo: 70px; 
$fontDimensioneSottotitolo: 30px;
$fontDimensioneSottotitolo2: 20px;




